.first {
    
	min-height: 660px;
    background-image: url("../img/Mask.png");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;

    &__content {
        display: flex;
        flex-direction: column;
        height: 100%;
        padding-top: 223px;

        &__link {
            background-color: rgb(28, 46, 61, 0.4);
            width: 142px;
            padding: 18px 30px;
            border-radius: 24px;
            margin-bottom: 40px;
            text-decoration: none;
            text-align: center;
            color: $btnColorText;
            font-family: $fontFamilyButton;
            font-size: 11px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            letter-spacing: 2px;
        }

        &__title {
            width: 50%;
            margin-bottom: 40px;
            color: #FFF;
            font-family: $fontFamilyH1;
            font-size: 80px;
            font-style: normal;
            font-weight: 700;
            line-height: 84px;
        }

        &__text {
            width: 33%;
            margin-bottom: 40px;
            color: #FFF;
            font-family: $fontFamilyText;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }

        &__btn {
            position: absolute;
            z-index: 5;
            top: 0;
            width: 284px;
            flex-shrink: 0;
            border-radius: 8px;
            background-color: #E8594E;
            padding: 33px 80px;
            color: $btnColorText;
            font-family: $fontFamilyButton;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            letter-spacing: 2.182px;
        }

        &__bottom {
            display: flex;
            align-items: flex-end;
            position: relative;

            &__form {
                flex-shrink: 0;
	            width: 68%;
	            position: relative;
	            overflow: hidden;
	            border-top-left-radius: 4px;
	            height: 120px;
                
            }

            &__slider {
                
                width: 32%;
                overflow: hidden;
	            border-top-left-radius: 8px;
	            border-top-right-radius: 8px;
	            line-height: 1;
	            font-size: 0;

                &-box {
                    display: flex;
                    position: relative;
                    overflow: hidden;
                    height: 250px;
                    
                    & img {
                        width: 100%;
                        height: 100%;
                    }
                }

                &-text {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding: 0 45px;
                    height: 120px;
                    background-color: #73AFBA;

                    & button {
                        padding: 15px;
                    }
                    

                    & p {
                        color: #FFF;
                        text-align: center;
                        font-family: $fontFamilyButton;
                        font-size: 12px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                        letter-spacing: 2.182px;
                        text-transform: uppercase;
                    }
                }
            }
        }
    }
}

.search-form__field {
	border: none;
	background-color: #fff;
	width: 100%;
	height: 100%;
	color: $inputColorText;
	padding-left: 55px;
	padding-right: 90px;
    color: #1C2E3D;
    font-family: $fontFamilyInput;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.search-form__button {
	width: 18px;
	height: 18px;
	background-image: url("../img/search.png");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	position: absolute;
	right: 62px;
	top: 50%;
	transform: translateY(-50%);
}