.header {
    position: absolute;
	width: 100%;
	z-index: 100;

    &__content {
        
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 55px;
	    padding-bottom: 55px;

        &__social {
            display: flex;
            align-items: center;
            list-style-type: none;

            &__item:hover {
                transform: scale(1.5);
            }

            &__item:not(:last-child) {
                margin-right: 50px;
            }
        }

        &__logo {
            color: $btnColorText;
            text-align: center;
            font-family: $fontFamilyText;
            font-size: 35px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            letter-spacing: 5px;
        }
        &__logo:hover {
            transform: scale(1.2);
            transition: 0.3s;
        }

        &__burger {
            padding: 15px;
            background: transparent;
        }
        &__burger:hover {
            transform: scale(1.5);
        }
    }
}

@media (max-width: 1025px) {

}

@media (max-width: 770px) {

}

@media (max-width: 425px) {

}