.menu {
    display: none;
    background: $btnBgColor2;
    width: 100%;
    padding: 50px;
    position: fixed;
    z-index: 1000;
    right: 0;
	top: 0;

    &__close {
        
    }

    &__nav {
        display: flex;
        flex-direction: column;
        align-items: center;

        &__close {
            position: absolute;
            right: 150px;
	        top: 55px;
        }

        &__list {
            display: flex;
            flex-direction: column;

            &__item {
                padding: 10px 30px;
                

                & a {
                    color: $menuColorText;
                    font-family: $fontFamilyButton;
                    font-size: 25px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    letter-spacing: 2px;
                    text-transform: uppercase;
                }
                & a:hover {
                    color: $menuHoverColorText;
                    transition: 0.3s;
                }
            }

        }
    }
}