.newsletter {
    height: 798px;
    margin-bottom: 246px;

    &__content {
        position: relative;
        display: flex;
        align-items: flex-end;
        height: 100%;
        background: rgba(28, 46, 61, 0.46) url("../img/newsletter.png");
        background-blend-mode: darken;
        background-size: cover;
        background-position: center;
	    background-repeat: no-repeat;

        &__text {
            width: 400px;
            margin-left: 135px;

            &__title {
                color: #FFF;
                font-family: $fontFamilyH2;
                font-size: 64px;
                font-style: normal;
                font-weight: 700;
                line-height: 80px;
                margin-bottom: 40px;
            }

            & p {
                color: #FFF;
                font-family: $fontFamilyText;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 21px;
                margin-bottom: 178px;
            }

        }

        &__form {
            position: absolute;
            width: 501px;
            height: 416px;
            background-color: #fff;
            border-radius: 8px;
            right: 133px;
            bottom: -96px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-end;

            & input {
                width: 357px;
                border-bottom: 1px solid rgba(28, 46, 61, 0.3);
                padding: 32px 0 24px 0;
                color: $inputColorText;
                font-family: $fontFamilyInput;
                font-size: 14px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
                letter-spacing: 2px;
                
            }

            & button {
                width: 100%;
                height: 96px;
                margin-top: 66px;
                background: $btnBgColor2;
                border-radius: 0px 0px 8px 8px;
                color: $btnColorText;
                text-align: center;
                font-family: $fontFamilyButton;
                font-size: 12px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                letter-spacing: 2.182px;
            }

            & button:hover {
                background: $btnBgHoverColor2;
            }
        }
    }

}