$btnColorText: #fff;
$menuColorText: #fff;
$menuHoverColorText: #858080;
$btnBgColor: #E8594E;
$btnBgHoverColor: #ed4337;
$btnBgColor2: #73AFBA;
$btnBgHoverColor2: #40a3b5;
$widthSite: 1626px;
$linkColorText: #959EA6;
$linkHoverColorText: #405a71;
$H2ColorText: #1C2E3D;
$inputColorText: #1C2E3D;
$inputBgColor: #fff;
$fontFamilyInput: Montserrat;
$fontFamilyLink: Roboto;
$fontFamilyButton: Montserrat;
$fontFamilyText: Roboto;
$fontFamilyH1: Montserrat;
$fontFamilyH2: Montserrat;
$fontFamilyH3: Montserrat;