$btnColorText: #fff;
$widthSite: 1626px;
$H2ColorText: #1C2E3D;
$inputColorText: #1C2E3D;
$inputBgColor: #fff;
$fontFamilyInput: Montserrat;
$fontFamilyLink: Roboto;
$fontFamilyButton: Montserrat;
$fontFamilyText: Roboto;
$fontFamilyH1: Montserrat;
$fontFamilyH2: Montserrat;
$fontFamilyH3: Montserrat;